$_main_color: #000000;
$_header_color: #00416a;
$_main_bg_color: #f3f3f3;
$_accent_color: #87ceeb;
$_input_color: #c6eeff;
$_button_color: #47c9ff;
$_pressed_color: #eec378;
$_mobile_background_primary: #87ceeb;
$_mobile_background_secondary: #eec378;
$_legal_background: #ffffff;
