$_main_color: #000000;

$_header_color: #00416a;
$_header_text: #0e0e0e;
$_header_borderColor: #00b5ff;
$_header_hoverColor: #87ceeb;
$_header_menu: #292929;

$_main_bg_color: #f3f3f3;
$_neutral_background: #ffffff;

$_accent_color: #87ceeb;
$_secondary_accent_color: #eec378;

$_input_color: #c6eeff;
$_button_color: #47c9ff;
$_link_color: #485fc7;
