.advatages {
  //   width: 1106px;
  //   height: 554px;
  margin-top: 48px;
}

.advantagesTitle {
  font-family: 20px;
  line-height: 24px;
  margin-bottom: 24px;
  @include media(desktop) {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    margin-bottom: 32px;
  }
}

.advantagesWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  @include media(desktop) {
    flex-direction: row;
    gap: 20px;
  }
}
.advantagesList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  display: flex;
  gap: 24px;
  @include media(desktop) {
    width: 542px;
    gap: 12px;
  }
}

.advantagesItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.advItemSpan {
  font-weight: 700;
}
