.swiper.reviewsSwiper {
  width: 100%;
  height: 298px;

  @include media(desktop) {
    height: 410px;
  }
}

.swiper.reviewsSwiper > #reviewsSwiperWrapper {
  display: flex;
  align-items: center;
}

.swiper-slide.review-item {
  width: 276px;
  height: 156px;
  width: fit-content;
  background-color: $_accent_color;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba(0, 180, 255, 0.4);
  @include media(desktop) {
    width: 376px;
    height: 156px;
    padding: 25px 12px;
    gap: 24px;
  }
}

.swiper-slide img {
  display: block;
  width: 88px;
  height: 88px;
  object-fit: cover;
}

.swiper.reviewsSwiper .swiper-pagination {
  position: absolute;
  bottom: 22px;

  @include media(desktop) {
    bottom: 62px;
  }
}

.reviewsSwiper .swiper-slide {
  transition: height 0.2s ease;
}

.reviewsSwiper .swiper-slide.active-slide {
  height: 180px;
}

.reviewsSwiper {
  background-color: $_secondary_accent_color;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  @include media(desktop) {
    background-color: $_main_bg_color;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('../img/reviews/background.webp');
    @include image-2x('../img/reviews/background.webp', 100%, 410px);
  }
}

.swiper .reviewsTitle {
  margin-top: 26px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: -34px;

  @include media(desktop) {
    font-size: 32px;
    margin-top: 62px;
    margin-bottom: -65px;
  }
}

.author {
  display: flex;
  flex-direction: column;
  width: 140px;

  @include media(desktop) {
    width: 240px;
  }
}

.authorHeader {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 7px;

  @include media(desktop) {
    font-size: 20px;
  }
}

.authorText {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;

  @include media(desktop) {
    font-size: 16px;
    line-height: 19px;
  }
}

.swiper .swiper-pagination-bullet-active {
  background-color: $_header_borderColor;
}
