#reviews {
  width: 100%;
  padding-left: 0;
  padding-right: 0;

  @include media(desktop) {
    width: 100%;
  }
}

.reviewsBackground {
  background-color: $_secondary_accent_color;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  @include media(desktop) {
    background-color: $_main_bg_color;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('../img/reviews/background.webp');
    @include image-2x('../img/reviews/background.webp', 100%, 410px);
  }
}

.reviewsSwiper {
  width: 320px;
  height: 298px;

  @include media(desktop) {
    height: 410px;
    width: 1200px;
  }
}

.swiper.reviewsSwiper > #reviewsSwiperWrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.swiper-slide.review-item {
  width: 276px;
  height: 156px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0px 12px;

  background-color: $_accent_color;
  border-radius: 16px;

  box-shadow: 0 2px 4px 0 #0099d9, inset 0 2px 4px 0 #00b4ff;

  transition: height 0.2s ease;

  @include media(desktop) {
    width: 376px;
    height: 156px;
  }
}

.swiper-slide .reviewContent {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 86px;
  height: 86px;

  object-fit: cover;
}

.reviewsSwiper .swiper-slide.active-slide {
  height: 180px;
}

.swiper .reviewsTitle {
  margin-top: 26px;
  margin-bottom: -34px;

  font-size: 20px;
  font-weight: 700;

  @include media(desktop) {
    margin-top: 62px;
    margin-bottom: -65px;

    font-size: 32px;
  }
}

.author {
  width: 140px;
  display: flex;
  flex-direction: column;

  @include media(desktop) {
    width: 240px;
  }
}

.authorHeader {
  margin-bottom: 7px;

  font-size: 16px;
  font-weight: 700;

  @include media(desktop) {
    font-size: 20px;
  }
}

.authorText {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;

  @include media(desktop) {
    font-size: 16px;
    line-height: 19px;
  }
}

.swiper.reviewsSwiper .swiper-pagination {
  position: absolute;
  height: fit-content;
  bottom: 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  @include media(desktop) {
    bottom: 40px;
  }
}

.swiper.reviewsSwiper .swiper-pagination > span {
  box-sizing: content-box;
  width: 40px;
  height: 2px;

  border-radius: 40px;

  background-color: $_review_color;

  @include media(desktop) {
    width: 82px;

    filter: blur(1px);
  }
}

.swiper.reviewsSwiper
  .swiper-pagination
  > span.swiper-pagination-bullet-active {
  border-top: 1px solid $_header_borderColor;
  border-bottom: 1px solid $_header_borderColor;

  background-color: $_header_borderColor;

  filter: none;
}
