<div class="aboutBackground">
  <div class="container aboutContent">
    <h2>About Us</h2>
    <p>
      Beachside Town is a charming simulation game that lets you design, build,
      and manage your own coastal paradise. Start with a small beach town, merge
      items to unlock new resources, and create a thriving community by
      constructing beautiful homes, tourist attractions, and leisure spots. As
      you develop your town, you'll meet quirky characters, complete exciting
      quests, and unlock new, exotic locations. Whether you're an aspiring
      architect or a lover of beachside escapes, Beachside Town brings your
      dreams of a coastal life to the screen!
    </p>
  </div>
</div>
