<section class="advatages">
  <div class="container">
    <h2 class="advantagesTitle">Advantages</h2>
    <div class="advantagesWrapper">

      <ul class="advantagesList">
     <li class="advantagesItem">
        <picture>
           <source 
          srcset="./img/advantages/adv1.webp, ./img/advantages/adv1@2.webp 2x" /> 
          <img class="advantagesImg" src="./img/advantages/adv1.webp" alt="advantage1" 
          loading="lazy"/>
        </picture>
        <p><span class="advItemSpan">Relaxing Gameplay:</span> Enjoy a stress-free, laid-back gaming experience with easy-to-learn mechanics.</p>
      </li>

       <li  class="advantagesItem">
      <picture>
        <source 
        srcset="./img/advantages/adv2.webp, ./img/advantages/adv2@2.webp 2x" type="image/webp" />
        <img class="advantagesImg" src="./img/advantages/adv2.webp" alt="advantage2" 
        loading="lazy"/>
      </picture>
      <p><span class="advItemSpan">Beautiful Beach Locations:</span> Build and customize a variety of beachside homes, piers, and seaside attractions </p>
    </li> 

    <li  class="advantagesItem">
      <picture>
        <source 
        srcset="./img/advantages/adv3.webp, ./img/advantages/adv3@2.webp 2x" type="image/webp" />
        <img class="advantagesImg" src="./img/advantages/adv3.webp" alt="advantage3" 
        loading="lazy"/>
      </picture>
      <p><span class="advItemSpan">Endless Customization:</span>  Personalize your town with numerous decoration options to create your dream beach escape.</p>
    </li>
    <li  class="advantagesItem">
      <picture>
        <source 
        srcset="./img/advantages/adv4.webp, ./img/advantages/adv4@2.webp 2x" type="image/webp" />
        <img class="advantagesImg" src="./img/advantages/adv4.webp" alt="advantage4" 
        loading="lazy"/>
      </picture>
      <p><span class="advItemSpan">Fun and Engaging:</span> Unlock new features, complete quests, and meet interesting characters to keep the excitement going.</p>
    </li>
    <li  class="advantagesItem">
      <picture>
        <source 
        srcset="./img/advantages/adv5.webp, ./img/advantages/adv5@2.webp 2x" type="image/webp" />
        <img class="advantagesImg" src="./img/advantages/adv5.webp" alt="advantage5" 
        loading="lazy"/>
      </picture>
      <p><span class="advItemSpan">Offline Mode:</span> Play anytime, anywhere without needing an internet connection! </p>
    </li>
    </ul>
   
    <div class="advantagesGigImage">
      <picture>
        <source media="(max-width: 1199px)" 
        srcset="./img/advantages/advantages_mob.webp, ./img/advantages/advantages_mob@2.webp 2x" type="image/webp" />
        <source media="(min-width: 1200px)" 
        srcset="./img/advantages/advantages.webp, ./img/advantages/advantages@2.webp 2x" type="image/webp" />
        <img src="./img/advantages/advantages.webp" alt="advantages" 
        loading="lazy"/>
      </picture>
      <button class="blueButton button">Download</button>
    </div>
  </div>
</section>