<section class="advatages">
  <div class="container">
    <h2 class="advantagesTitle">Advantages</h2>
    <div class="advantagesWrapper">
      <div class="advantagesList">

         <div class="advantagesItem">
        <img src="./img/advantages/adv1.webp" alt="advantages1" class="advantagesImg" />
        <p><span class="advItemSpan">Relaxing Gameplay:</span> Enjoy a stress-free, laid-back gaming experience with easy-to-learn mechanics.</p>
         </div>

         <div class="advantagesItem">
        <img src="./img/advantages/adv2.webp" alt="advantages2" class="advantagesImg" />
        <p><span class="advItemSpan">Beautiful Beach Locations:</span> Build and customize a variety of beachside homes, piers, and seaside attractions </p>
         </div>

         <div class="advantagesItem">
        <img src="./img/advantages/adv3.webp" alt="advantages3" class="advantagesImg" />
        <p><span class="advItemSpan">Endless Customization:</span>  Personalize your town with numerous decoration options to create your dream beach escape.</p>
         </div>
         
        <div class="advantagesItem">
        <img src="./img/advantages/adv4.webp" alt="advantages4" class="advantagesImg" />
        <p><span class="advItemSpan">Fun and Engaging:</span> Unlock new features, complete quests, and meet interesting characters to keep the excitement going.</p>
         </div>

         <div class="advantagesItem">
        <img src="./img/advantages/adv5.webp" alt="advantages5" class="advantagesImg" />
        <p><span class="advItemSpan">Offline Mode:</span> Play anytime, anywhere without needing an internet connection! </p>
      </div>
    </div>
   
    <div>
      <picture>
        <source media="(max-width: 1199px)" 
        srcset="./img/advantages/advantages_mob.webp, ./img/advantages/advantages_mob@2.webp 2x" type="image/webp" />
        <source media="(min-width: 1200px)" 
        srcset="./img/advantages/advantages.webp, ./img/advantages/advantages@2.webp 2x" type="image/webp" />
        <img src="./img/advantages/advantages.webp" alt="advantages" 
        loading="lazy"/>
      </picture>
      <button type="button">Download</button>
    </div>
  </div>
</section>