<footer class="footer footerBackground">
  <div class="container">
    <div>
      <a
        class="playButton"
        href="https://play.google.com/store/apps/details?id=com.beachside.mergetown"
      >
        <img
          src="./img/googlePlayButton.svg"
          alt="Google Playmarket Icon"
          style="width: 260px; height: auto"
        />
      </a>
    </div>

    <div class="footerInfo">
      <div class="footerLinks">
        <p class="document"><a href="privacy-policy.html">Privacy Policy</a></p>
        <p class="document">
          <a href="terms-and-conditions.html">Terms and Conditions</a>
        </p>
      </div>
      <p>All rights reserved prostarquesthub.com | 2024</p>
    </div>
  </div>
</footer>
