<section class="container section galleryContainer" id="gallery">
  <h2>Gallery</h2>
  <ul class="galleryList">
    <li>
      <h3>Gameplay Screenshots</h3>
      <p>
        Showcasing the town-building process, merging mechanics, and vibrant
        beach environments.
      </p>
      <div class="imageWrapper">
        <picture>
          <source
            media="(max-width: 1199px)"
            srcset="
              ./img/gallery/mobile/1x/galleryScreenshots.png,
              ./img/gallery/mobile/2x/galleryScreenshots.png 2x
            "
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/gallery/desktop/1x/galleryScreenshots.png,
              ./img/gallery/desktop/2x/galleryScreenshots.png 2x
            "
          />
          <img
            class="galleryImage"
            src="./img/gallery/mobile/1x/galleryScreenshots.png"
            alt="Screenshot from the Beachside Town game"
            loading="lazy"
          />
        </picture>
      </div>
    </li>

    <li>
      <h3>Beachside Homes</h3>
      <p>
        Examples of the stunning homes and various attractions that can be built
        in the game.
      </p>
      <div class="imageWrapper">
        <picture>
          <source
            media="(max-width: 1199px)"
            srcset="
              ./img/gallery/mobile/1x/galleryHome.png,
              ./img/gallery/mobile/2x/galleryHome.png 2x
            "
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/gallery/desktop/1x/galleryHome.png,
              ./img/gallery/desktop/2x/galleryHome.png 2x
            "
          />
          <img
            class="galleryImage"
            src="./img/gallery/mobile/1x/galleryHome.png"
            alt="Screenshot from the Beachside Town game"
            loading="lazy"
          />
        </picture>
      </div>
    </li>

    <li>
      <h3>Landscapes</h3>
      <p>
        Gorgeous coastal views, complete with beaches, sunsets, and lush
        tropical scenery.
      </p>
      <div class="imageWrapper">
        <picture>
          <source
            media="(max-width: 1199px)"
            srcset="
              ./img/gallery/mobile/1x/galleryLandscapes.png,
              ./img/gallery/mobile/2x/galleryLandscapes.png 2x
            "
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/gallery/desktop/1x/galleryLandscapes.png,
              ./img/gallery/desktop/2x/galleryLandscapes.png 2x
            "
          />
          <img
            class="galleryImage"
            src="./img/gallery/mobile/1x/galleryLandscapes.png"
            alt="Screenshot from the Beachside Town game"
            loading="lazy"
          />
        </picture>
      </div>
    </li>

    <li>
      <h3>Character Interactions</h3>
      <p>
        The residents of Beachside Town interacting with the environment and
        completing tasks.
      </p>
      <div class="imageWrapper">
        <picture>
          <source
            media="(max-width: 1199px)"
            srcset="
              ./img/gallery/mobile/1x/galleryInteractions.png,
              ./img/gallery/mobile/2x/galleryInteractions.png 2x
            "
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/gallery/desktop/1x/galleryInteractions.png,
              ./img/gallery/desktop/2x/galleryInteractions.png 2x
            "
          />
          <img
            class="galleryImage"
            src="./img/gallery/mobile/1x/galleryInteractions.png"
            alt="Screenshot from the Beachside Town game"
            loading="lazy"
          />
        </picture>
      </div>
    </li>
  </ul>
</section>
