<header class="header">
  <div class="container">
    <button class="burgerMenu" type="button" id="open">
      <svg width="18" height="14" color="#00416A">
        <use href="./img/sprite.svg#burger"></use>
      </svg>
    </button>
    <nav>
      <ul class="navList">
        <li><a class="navLink" href="index.html#hero">Game</a></li>
        <li><a class="navLink" href="index.html#about">About</a></li>
        <li><a class="navLink" href="index.html#advantages">Advantages</a></li>
        <li><a class="navLink" href="index.html#reviews">Reviews</a></li>
        <li><a class="navLink" href="index.html#gallery">Gallery</a></li>
        <li><a class="navLink" href="index.html#faq">FAQ</a></li>
      </ul>
    </nav>
  </div>
</header>
