<div class="heroBackground">
  <picture>
    <source
      media="(max-width: 1199px)"
      srcset="
        ./img/hero/mobile/1x/cloudHeader.png,
        ./img/hero/mobile/2x/cloudHeader.png 2x
      "
    />
    <source
      media="(min-width: 1200px)"
      srcset="
        ./img/hero/desktop/1x/cloudHeader.png,
        ./img/hero/desktop/2x/cloudHeader.png 2x
      "
    />
    <img
      id="cloudHeader"
      src="./img/hero/mobile/1x/cloudHeader.png"
      alt="Demo of the Beachside Town game"
      loading="lazy"
    />
  </picture>
  <div class="container heroContainer">
    <svg width="370" height="344" fill="#61B4D5" id="palmIcon">
      <use href="../img/sprite.svg#palm"></use>
    </svg>

    <div class="heroContent">
      <h1>Beachside town</h1>
      <p>
        Create your dream beach town and experience coastal life at its best!
      </p>
      <a
        class="playButton buttonHover"
        href="https://play.google.com/store/apps/details?id=com.beachside.mergetown"
      >
        <img
          src="./img/googlePlayButton.svg"
          alt="Google Playmarket Icon"
          style="width: 100%; max-width: 170px; height: auto"
        />
      </a>
    </div>

    <picture>
      <source
        media="(max-width: 1199px)"
        srcset="
          ./img/hero/mobile/1x/cloudHero.png,
          ./img/hero/mobile/2x/cloudHero.png 2x
        "
      />
      <source
        media="(min-width: 1200px)"
        srcset="
          ./img/hero/desktop/1x/cloudHero.png,
          ./img/hero/desktop/2x/cloudHero.png 2x
        "
      />
      <img
        id="cloudHero"
        src="./img/hero/mobile/1x/cloudHero.png"
        alt="Demo of the Beachside Town game"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        media="(max-width: 1199px)"
        srcset="
          ./img/hero/mobile/1x/upperPhone.png,
          ./img/hero/mobile/2x/upperPhone.png 2x
        "
      />
      <source
        media="(min-width: 1200px)"
        srcset="
          ./img/hero/desktop/1x/upperPhone.png,
          ./img/hero/desktop/2x/upperPhone.png 2x
        "
      />
      <img
        id="upperPhone"
        src="./img/hero/mobile/1x/upperPhone.png"
        alt="Demo of the Beachside Town game"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        media="(max-width: 1199px)"
        srcset="
          ./img/hero/mobile/1x/lowerPhone.png,
          ./img/hero/mobile/2x/lowerPhone.png 2x
        "
      />
      <source
        media="(min-width: 1200px)"
        srcset="
          ./img/hero/desktop/1x/lowerPhone.png,
          ./img/hero/desktop/2x/lowerPhone.png 2x
        "
      />
      <img
        id="lowerPhone"
        src="./img/hero/mobile/1x/lowerPhone.png"
        alt="Demo of the Beachside Town game"
        loading="lazy"
      />
    </picture>
  </div>
</div>
