<section class="modal" id="myModal">
  <div class="mobileMenu">
    <ul class="mobileMenuList">
      <li><a class="mobileMenuLink" href="#game">Game</a></li>
        <li><a class="mobileMenuLink" href="#about">About</a></li>
          <li><a class="mobileMenuLink" href="#advantages">Advantages</a></li>
            <li><a class="mobileMenuLink" href="#fqa">FQA</a></li>
              <li><a class="mobileMenuLink" href="#gallery">Gallery</a></li>
    </div>
    <button class="closeBtn" type="button" id="close">
      <svg width="13" height="15" color="#292929">
        <use href="./img/sprite.svg#close       "></use>
      </svg>
    </button>
  </div>
</section>
