<section class="modal" id="myModal">
  <div class="mobileMenu">
    <div class="mobileMenuList">
      <a class="mobileMenuLink" href="#game">Game</a>
      <a class="mobileMenuLink" href="#about">About</a>
      <a class="mobileMenuLink" href="#advantages">Advantages</a>
      <a class="mobileMenuLink" href="#fqa">FQA</a>
      <a class="mobileMenuLink" href="#gallery">Gallery</a>
    </div>
    <button class="closeBtn" type="button" id="close">
      <svg width="13" height="15" color="#292929">
        <use href="./img/sprite.svg#close       "></use>
      </svg>
    </button>
  </div>
</section>
