<section class="modal" id="myModal">
  <div class="mobileMenu">
    <ul class="mobileMenuList" id="link">
      <li><a class="mobileMenuLink" href="/index.html#hero">Game</a></li>
      <li><a class="mobileMenuLink" href="/index.html#about">About</a></li>
      <li>
        <a class="mobileMenuLink" href="/index.html#advantages">Advantages</a>
      </li>
      <li><a class="mobileMenuLink" href="/index.html#fqa">FAQ</a></li>
      <li><a class="mobileMenuLink" href="/index.html#gallery">Gallery</a></li>
    </ul>
    <button class="closeBtn" type="button" id="close">
      <svg width="13" height="15" color="#292929">
        <use href="./img/sprite.svg#close"></use>
      </svg>
    </button>
  </div>
</section>
