@import './header.scss';

@import './layout/about.scss';
@import './layout/advantages.scss';
@import './layout/faq.scss';
@import './layout/footer.scss';
@import './layout/gallery.scss';
@import './layout/header.scss';
@import './layout/hero.scss';
@import './layout/legal.scss';
@import './layout/mobileMenu.scss';
@import './layout/reviews.scss';

:root {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background-color: $_main_bg_color;
  color: $_main_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  @include media(desktop) {
    max-width: 1200px;
    padding: 0 48px;
    margin: 0 auto;
  }
}

.section {
  margin-bottom: 48px;
  @include media(desktop) {
    margin-bottom: 96px;
  }
}

h1,
h2,
h3,
h4 {
  color: $_header_color;
  text-transform: capitalize;
  font-weight: 700;
}

h2 {
  text-align: center;
  font-size: 20px;
  line-height: 24px;

  @include media(desktop) {
    font-size: 32px;
    line-height: 39px;
  }
}

h3 {
  font-size: 16px;
  line-height: 19px;

  @include media(desktop) {
    font-size: 20px;
    line-height: 24px;
  }
}

.backButton {
  display: flex;
  gap: 12px;
  padding: 8px 12px;
  width: fit-content;
  align-items: center;

  border: none;
  border-radius: 12px;
  background-color: #47c9ff;

  font-size: 16px;
  font-weight: 600;
}

.playButton {
  display: inline-block;
  width: 130px;
  height: fit-content;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  @include media(desktop) {
    width: 170px;
    height: 48px;
  }
}

.buttonHover {
  transition: scale 0.2s ease-out;

  &:hover {
    scale: 1.1;
  }
}
